<section>
  <h1>Offline</h1>
  <p>Sorry, you are offline.</p>
  <h2>Your Connection Data</h2>
  {{#if connection.type}}
  <p>Connection type: {{connection.type}}</p>
  {{/if}}
  {{#if connection.effectiveType}}
  <p>Connection effective type: {{connection.effectiveType}}</p>
  {{/if}}
  {{#if connection.downlink}}
  <p>Connection downlink: {{connection.downlink}}MB/s</p>
  {{/if}}
  {{#if connection.rtt}}
  <p>Connection rtt: {{connection.rtt}}ms</p>
  {{/if}}
  {{#if connection.saveData}}
  <p>Connection save data: {{connection.saveData}}</p>
  {{/if}}
</section>